

$max_width: 1200px;
$col_width: 90px;
$col_count: 12;

$gutter_width: ($max_width - ($col_count * $col_width)) / ($col_count - 1);


$link_color: #3782C4;
$background_color: #e8e7ec;
$text_color: #262620;
$orange_color:  #E88F04;
$fontname: 'garamond';

@mixin bg-size($size: 100% auto) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}

@mixin arrow-up($color:black, $thickness:6px) {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-color: transparent transparent $color transparent;
    border-style: solid;
    border-width: $thickness;
}

@mixin col_grid($num_cols) {


    width: ($col_width * $num_cols) + ($gutter_width * ($num_cols - 1));
    margin-bottom: $gutter_width*3;
    margin-right: $gutter_width;
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}



