// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "library";

$max_width: 1200px;
$col_width: 75px;
$col_count: 12;

$gutter_width: ($max_width - ($col_count * $col_width)) / ($col_count - 1);


$link_color: #0192b5;
$background_color: #e8e7ec;


.container_body{
  position: relative;
  width: $max_width;
  margin: 0 auto;
  padding-top: 25px;
   background: white;


}

div, p, nav, section, li, label{
    // background: yellow;
}
body {
  font-size: 14px;
 margin-bottom: 10px;
 background: url('darkwood.jpg') repeat center center ;

}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: $gutter_width;
}

h2 {
  font-size: 22px;
  margin-right: 15px;
  margin-bottom: 10px;
}

a, a:visited, a:active{
  color: $link_color;
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover{
  color: darkem($link_color, .9);
  text-decoration: none;

}

p{
  margin-bottom: 10px;
  font-size: 14px;
  &.cat_desc{
    margin-left: $gutter_width;
    margin-right: $gutter_width;
  }

}



.shopping_cart{

    text-align: right;

    &.hover {
        border: 1px dashed #666;
    }

    &.droppable {
        background:lightgreen;
    }

    width: 435px;

}



header{
  @include col_grid(10);
  @include offset(1);
  li{
    display: inline-block;
    vertical-align: center;
  }
}

.logoimage{

  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;

}



.banner_image{

  margin: -20px 0 20px -2px;
  box-shadow: 3px 3px 10px gray;

}


.breadcrumbs{
  margin-left: $gutter_width;
}




.jeff {
    font-size: 0;
}


.product_container{
      display: inline-block;

      // width: 400px;
      @include col_grid(3);

      height: 100%;
      vertical-align: top;

      &:nth-of-type(4n) {
        margin-right: 0;
    }
}

.product_info{

  position: relative;

  width: 85%;
  margin: 0 auto;
  img{
        width: 100%;
        // box-shadow: 5px 5px 20px gray;
        position: relative;

      }
  p{
    font-weight: bold;
    margin-top: 5px;
  }



h2 {
    font-size: 30px;
}



}

.photo_title{
  // display: none;
}
.show_photo_title{

  position: absolute;
  bottom: -2px;
  left: 5px;
  color: white;
}




  // &:nth-child(3n+1) {
  //    @include offset(1);
  // }

// .detail_container{
//   float: left;
// }

.feature_container {

  width: 600px;
  text-align: center;
  float:left;

}

.feature{

  width: 95%;
  margin: 0 auto;
  text-align: center;


}

.detail_prod_info_container{
  width: 500px;
  text-align: left;
  clear: both;


}


.detail_prod_info{
  width: 90%;
  margin: 0 auto;
}



label{
  margin: 10px 10px 0 0;
  font-weight: bold;
}


footer{
  padding-top: 10px;
  width: 100%;

  text-align: center;
  li{
    display: inline-block;
  }
  background: #ccc;
}


