// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "library";

$max_width: 1200px;
$col_width: 90px;
$col_count: 12;

$gutter_width: ($max_width - ($col_count * $col_width)) / ($col_count - 1);


$link_color: #3782C4;
$background_color: #e8e7ec;
$text_color: #262620;
$orange_color:  #E88F04;
$fontname: 'garamond';


.container_body{
  position: relative;
  width: $max_width;
  margin: 0 auto;
  padding-top: 25px;
   background: white;


}

div, p, nav, section, li, label{
    // background: yellow;
    // border:1px solid black;
}
body {
  font-size: 16px;
 margin-bottom: 10px;
 background: url('darkwood.jpg') repeat center center ;
   font-family: $fontname, 'sans-serif';
   color: $text_color;

}

h1,h2,h3,li{
   font-family: 'gill sans', 'sans-serif'

}

h1 {
  font-size: 30px;
  margin-bottom: 25px;


  color: $orange_color;
  &.sub_cat_title{
       margin-left: $gutter_width;;
  }
}

h2 {
  font-size: 22px;
  margin-right: 15px;
  margin-bottom: 10px;
}

a, a:visited, a:active{
  color: $link_color;
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover{
  color: darkem($link_color, .9);
  text-decoration: none;

}

p{
  margin-bottom: 10px;
  font-size: 16px;
  &.cat_desc{
    margin-left: $gutter_width;
    margin-right: $gutter_width;
    margin-bottom: $gutter_width*2;
    font-size: 16px;
  }
  &.breadcrumbs{
    margin-bottom: 20px;
     margin-left: $gutter_width;
  }
  &.product_text{
    font-size: 20px;
    padding-top: 10px;
    border-top: 2px solid $text_color;
  }


}



.shopping_cart{

    text-align: right;
    margin-right: -5px;
    &.hover {
      border: 1px dashed #666;
    }

    &.droppable {
        background:lightgreen;
    }


}

.fa-shopping-cart{
      color: $orange_color;

}

header{

  @include col_grid(11);

  li{
    display: inline-block;
    vertical-align: center;
    @include offset(1);
  }
}

.logoimage{

  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;

}



.banner_image{

  margin: -30px 0 20px -10px;
  box-shadow: 2px 2px 10px black;

}







.jeff {
    font-size: 0;
}


.product_container{
      display: inline-block;

      // width: 400px;
      @include col_grid(3);

      height: 100%;
      vertical-align: top;

      &:nth-of-type(4n) {
        margin-right: 0;
    }
}

.product_info{

  position: relative;

  width: 85%;
  margin: 0 auto;
  img{
        width: 100%;
        box-shadow: 5px 5px 20px gray;
        position: relative;
        border-radius: 5px;

      }
  p{
    font-weight: bold;
    margin-top: 5px;
  }



h2 {
    font-size: 30px;
}



}

.photo_title{
  // display: none;
}
.show_photo_title{

  position: absolute;
  bottom: -2px;
  left: 5px;
  color: white;
}



.detail_container{
  width: 100%;
  font-size: 0px;
  div{

  display: inline-block;
  vertical-align:  top;

  }
}

.feature_container {

  @include col_grid(6);

  text-align: center;
  // background: pink;
  height: 500px;


}

.feature{


  margin: 0 auto;
  text-align: center;
  img{

  }


}

.detail_prod_info_container{
  @include col_grid(6);
  margin-right: 0px;
  // background: green;
    height: 500px;

      padding-right: ($gutter_width*3) ;


}


.detail_prod_info{
  margin: 0 auto;
}


label{
  margin: 10px 10px 50px 0;
  font-weight: bold;
  font-size: 14px;
  width: 600px;
  display:inline;

}



footer{
  @include col_grid(12);

  padding: 10px 0 10px 0;

  background: $text_color;
  color: white;

  text-align: center;
  li{
    display: inline-block;
    margin-right: 30px;
  }


}


